@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla:wght@800&display=swap');

body {
    background-color: #1F2937;
    color: white;
}

#background {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .3;
}

h1 {
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: .75rem;
}

span {
    color: #4ADF86;
}

p, li {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 0;
    color: #D5D4D8;
}

#options {
    outline: 1px solid #a6eecc;
    border-radius: .5rem;
    padding: .25rem 0 .5rem 1rem;
    max-width: 25rem;
}

label {
    font-family: 'Inter', sans-serif;
    font-size: .9rem;
    display: inline-block;
    width: 10rem;
    margin-top: .5rem;
}

#pw-length {
    margin: 2rem 0 1rem;
    max-width: 26rem;
}

#pw-length-display {
    font-size: .9rem;
    margin: 0 0 .5rem 1rem;
}

#pw-length-num {
    background-color: white;
    color: black;
    padding: 0 .5rem 0 .4rem;
    margin: 0 .5rem;
}

#length {
    width: 100%;
}

hr {
    border-top: 1px solid #273549;
    border-bottom: 1px solid #273549;
    border-right: none;
    border-left: none;
    margin-top: 2rem;
    margin-left: 0;
    max-width: 26rem;
}

button {
    color: white;
    background-color: #4ADF86;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 1rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    margin-top: 1.5rem;
    border: 1px solid #4ADF86;
}

button:hover {
    background-color: #a6eecc;
    border: 1px solid #a6eecc;
    color: black;
}

#button-emoji {
    margin-right: .5rem;
}

#pw-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 1rem;
    max-width: 400px;
}

.pw-heading {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 1rem;
    padding-left: 1rem;
    margin-bottom: .25rem;
    color: #D5D4D8;
}

.password {
    background-color: #273549;
    color: #4ADF86;
    min-height: 1.25rem;
    min-width: 10rem;
    font-family: 'Inter';
    font-size: 1rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
}

#note {
    font-size: .8rem;
    font-style: italic;
    color: #D5D4D8;
    margin: 0 0 .25rem 1rem;
}