@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla:wght@800&display=swap');

body {
    background-color: #1F2937;
    color: white;
}

h1 {
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
}

span {
    color: #4ADF86;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
}

button {
    color: white;
    background-color: #4ADF86;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 1rem;
    padding: .5rem 1rem;
}